<div class="menu">
    <div class="menu-wrapper">
        <div class="hide-show-menu" is-opened="true">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="menu-logo">
            <img src="{{link}}/menu-logo.png" class="logo-img" alt="">
            <h1>Talk Time</h1>
        </div>
        <div class="menu-item">
            <a href="/dashboard/{{url}}">Dashboard</a>
        </div>
        <div class="menu-item">
            <a href="">General Analyser</a>
        </div>
        <div class="menu-item">
            <a href="/activity/{{url}}">Everyone`s audio activity</a>
        </div>
        <div class="menu-item">
            <a href="/feedbacks/{{url}}">Feedbacks</a>
        </div>
        <div class="menu-item">
            <a href="/extension/{{url}}">About Extension</a>
        </div>
        <div class="menu-item">
            <a href="/badges/{{url}}">About Badges</a>
        </div>
    </div>
    <span>© Copyright | Nobel, 2022</span>
</div>