<div class="about-container">
    <h1>About Extension</h1>
    <div class="cards">
        <div class="card">
            <img src="{{link}}/dashboard.png" alt="">
            <h2>Dashboard</h2>
            <span>Dashboard where users can find useful information</span>
        </div>
        <div class="card">
            <img src="{{link}}/message.png" alt="">
            <h2>Messaging</h2>
            <span>Everyone can send a message to anyone, it will be private</span>
        </div>
        <div class="card">
            <img src="{{link}}/feedback.png" alt="">
            <h2>Feedback system</h2>
            <span>Everyone can leave feedback about anyone (it can be anonymous)</span>
        </div>
        <div class="card">
            <img src="{{link}}/chart.png" alt="">
            <h2>Meeting statistic</h2>
            <span>Every user can see or download statistic of the meeting</span>
        </div>
        <div class="card">
            <img src="{{link}}/analyse.png" alt="">
            <h2>Analyser</h2>
            <span>Everyone can see audio analyser of the meeting (audio activity)</span>
        </div>
    </div>
</div>