<header>
    <div>
        <img style="width: 96px;" src="{{link}}/logo.png" alt="">
        <h1>Talk Time</h1>
    </div>
    <div class="right">
        <button><a href="#">View in chrome web-store</a></button>
    </div>
</header>
<div class="content">
    <h1>What is Talk Time?</h1>
    <div class="cards">
        <div class="card">
            <img src="{{link}}/message.png" alt="">
            <h2>Small private messaging</h2>
            <span>Talk Time allows to send small private messages to anyone in
                the meeting.
            </span>
        </div>
        <div class="card">
            <img src="{{link}}/feedback.png" alt="">
            <h2>Comfortable feedback system</h2>
            <span>You can leave opened feedback about anoyone who
                was in the meeting with you.
            </span>
        </div>
        <div class="card">
            <img src="{{link}}/chart.png" alt="">
            <h2>Statistic of the talking time</h2>
            <span>Anyone can download image file after the meeting, with the
                statistic of the meeting.
            </span>
        </div>
        <div class="card">
            <img src="{{link}}/analyse.png" alt="">
            <h2>Video and chat <br>after meeting</h2>
            <span>Anyone can watch the video and chat of the meeting and leave some bookmarks to it.
            </span>
        </div>
    </div>
</div>
<footer>
    <span style="text-align: center;">© 2022, Nobel | All right reserved</span>
</footer>