<div class="container">
    <div class="analyser">
        <h1 class="analyser-title">{{title}}</h1>
        <div class="wrapper">
            <video src="{{link}}/{{videoLink}}"></video>
            <div class="chat">
                <button class="down">↓</button>
                <h1>Chat</h1>
                <button class="load-chat">Load chat</button>
                <span class="chat-warning">The chat will display dynamically depending on the video</span>
                <div style="display: none;" class="down">↓</div>
            </div>
        </div>
        <div class="waveform-wrapper">
            <div id="waveform"></div>
        </div>
        <div class="position-wrapper">
            <div class="positions">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="loader-wrapper">
            <span class="loader"></span>
            <h3 class="loading-text"></h3>
        </div>
        <div class="video-buttons">
            <button class="play" disabled>Play</button>
            <button class="pause" disabled>Pause</button>
        </div>
        <div class="bookmark-buttons">
            <button class="open-bookmark-popup">Create bookmark</button>
            {{#if bookmarks}}
            <button class="show-bookmarks">Show bookmarks</button>
            {{else}}
            <div class="no-bookmarks-yet">
                <span>No bookmarks yet</span>
            </div>
            {{/if}}
        </div>
        <div class="span-wrapper">
            <span>* Double click on the graph or on the chat message to change video current time</span>
        </div>
        <div class="all-bookmarks">
            <div class="bookmark-header">
                <span class="close-bookmarks-popup">✖</span>
            </div>
            {{#if bookmarks}}
                {{#each bookmarks}}
                    <div class="bookmark">
                        <h3>{{name}}</h3>
                        <h4>{{time}}</h4>
                        <span>{{bookmark}}</span>
                    </div>
                {{/each}}
            {{else}}
            <span>No bookmarks yet<br />Add a new one!</span>
            {{/if}}
        </div>
        <div class="bookmark-popup">
            <div class="bookmark-header">
                <span class="close-create-bookmark-popup">✖</span>
            </div>
            <h1>Create a bookmark</h1>
            <form action="/analyser/newbookmark/{{url}}" method="POST">
                <label for="name">Your name</label>
                <input placeholder="Enter your name" type="text" name="name" required>
                <label for="bookmark">Your bookmark</label>
                <input placeholder="Enter your bookmark" type="text" name="bookmark" max="100" required>
                <label for="time" class="time-label">Time</label>
                <input placeholder="Enter a time in 00:00:00 format" type="text" name="time" required>
                <button type="submit" class="create-bookmark">Create</button>
            </form>
        </div>
    </div>
</div>
<span style="display: none;" class="chat-link">{{chatLink}}</span>
<span style="display: none;" class="audio-link">{{audioLink}}</span>
<script src="{{link}}/analyser.js"></script>