<div class="badge-container">
    <header class="header">
        <div class="header__logo__wrapper">
            <img class="header__logo" src="/img/menu-logo.png" alt="">
            <h2 class="header__title">Talk Time</h2>
        </div>
        <div class="header__menu">
            <a href="/main" class="header__menu__item">Main</a>
            <a href="/dashboard/{{url}}" class="header__menu__item">Dashboard</a>
            <a href="/audioactivity/{{url}}" class="header__menu__item">Audio activity</a>
            <a href="/feedbacks/{{url}}" class="header__menu__item">Feedbacks</a>
            <a href="/badges/{{url}}" class="header__menu__item">Badges</a>
            <a href="/extension/{{url}}" class="header__menu__item">Extension</a>
        </div>
    </header>
    <div class="badges__wrapper">
        <h1 class="badges__title animated fadeInLeft">What is Badges?</h1>
        <span class="badges__info animated fadeInRight">Every badge is mean some soft-skill and
            if person do this skill good, you can give him a badge with this skill.
            It will , like award and this will be show how people are good at their skills.
        </span>
        <div class="badges__row animated fadeInLeft">
            <div class="badge">
                <img src="/img/brainstormer5.png" alt="">
            </div>
            <div class="badge">
                <img src="/img/active_listener3.png" alt="">
            </div>
            <div class="badge">
                <img src="/img/notes_master6.png" alt="">
            </div>
        </div>
        <span class="badges__info__bottom animated fadeInRight">You can give a badge to some person in "Feedback" page</span>
        <span class="badges__info__bottom fadeInLeft animated">Don`t forget that every badge has a different value</span>
    </div>
</div>