<div class="feedbacks">
    <h1 class="title-of-one">{{name}}(`s) feedbacks</h1>
    {{#if feedbacks}}
        {{#each feedbacks}}
            <div class="feedback">
                <div class="sender">
                    <img class="user-avatar" src={{senderImg}} alt="">
                    <h2>{{sender}}</h2>
                    <span class="feedback-object-id" style="display: none;">{{_id}}</span>
                </div>
                <div class="text">
                    <span class="feedback-text">{{feedback}}</span>
                    <span class="rating">Rating: {{rating}}</span>
                    <span class="date">{{date}}</span>
                    {{#if feedbackImg}}
                        <button class="view-image">View image</button>
                        <div class="feedback-img-wrapper">
                            <img class="feedback-img" src="{{link}}{{feedbackImg}}" alt="">
                            <button class="close-img">Close</button>
                        </div>
                    {{/if}}
                    <a href="/feedback/{{url}}/{{_id}}"><button class="open-feedback-button">Leave Comment</button></a>
                </div>
            </div>
        {{/each}}
    {{else}}
    <span>No feedbacks yet</span>
    {{/if}}
</div>
<script src="{{link}}/feedbackOfOne.js"></script>