<div class="quiz-end-container">
    <div class="quiz-end-card">
        {{#if success}}
            <img class="quiz-end-img" src="{{link}}/success.png" alt="">
        {{else}}
            <img class="quiz-end-img" src="{{link}}/failed.png" alt="">
        {{/if}}
        {{badge}}
        <h3 style="margin-bottom: 10px;">{{text}}</h3>
        {{#if success}}
            <img src="{{link}}/{{badgeName}}.png" alt="">
        {{/if}}
    </div>
</div>